# /etc/default/tftpd-hpa

TFTP_USERNAME="{{ tftp_server_user }}"
TFTP_DIRECTORY="{{ tftp_server_path }}"
#TFTP_ADDRESS=":69"
TFTP_ADDRESS="{{ tftp_server_address }}:{{ tftp_server_port }}"
#TFTP_OPTIONS="--secure"
TFTP_OPTIONS="{{ tftp_server_options }}"